header {
    grid-area: header;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 10px;
    align-items: center;
    background-color: #B8C7A3;
}

html, body {
    margin-top: 50px;
    height: 100%;
    font-family: "JetBrains Mono", monospace;
}

header #logo {
    height: 80px;
    width: 80px;
    padding: 0 15px 0 15px;
}

#main-title {
    padding-left: 50px;
    font-family: "JetBrains Mono", monospace ;
}

header #menu-header {
    margin-left: auto;
}

#menu-header {
    float: right;
    padding-right: 30px;
}

.btn-header {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    background-color: midnightblue;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
}

.normal-btn {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    background-color: darkslategray;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
}

.danger-btn {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    background-color: red;
    font-size: 20px;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    background-color: #B8C7A3;
    padding-top: 15px;
    top: 89px;
    left: 0;
    width: 160px;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
}

.sidenav .nav-option, .nav-title {
    padding: 12px 8px 6px 16px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    display: block;
}

.sidenav .nav-option:hover {
    color: #ffffff;
}

.sidenav .nav-option:focus {
    color: white;
}

main {
    grid-area: main;
    margin-left: 160px;
    padding: 10px 10px 10px 25px;
    background-color: white;
}

footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-template-columns: 200px auto;
}

.form-field {
    margin: 8px 8px 8px 0;
}

.all_items_table {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

div .foot-note {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 14px;
    color: red;
}

.detail_container {
    display: grid;
    grid-template-areas:
        "detail-label detail-data";
    grid-template-columns: 30% 70%;
    margin-bottom: 8px;
}

.detail_label {
    grid-area: detail-label;
    align-self: center;
}

.detail_data {
    grid-area: detail-data;
    align-self: center;
}

hr {
    margin: 0;
    color: darkgray;
    width: 100%;
}

