{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <h1>ALL TREES YOU PLANTED</h1>
    <a href="{% url 'trees:create-planted-tree' %}"><button class="normal-btn">New</button></a>
    <a href="{% url 'trees:trees-home' %}"><button class="normal-btn">Back</button></a>
    <div class="table-container">
        <table class="all_items_table">
            <tr>
                <th>ID</th>
                <th>Tree Name</th>
                <th>Age</th>
                <th>Date Planted</th>
                <th colspan="3">Actions</th>
            </tr>
            {% for planted_tree in trees_list %}
            <tr>
                <td>{{ planted_tree.id }}</td>
                <td>{{ planted_tree.tree.name }}</td>
                <td>{{ planted_tree.age }}</td>
                <td>{{ planted_tree.planted_at }}</td>
                <td><a href="/trees/planted_tree_detail/{{ planted_tree.id }}"><button class="normal-btn">Detail</button></a></td>
                <td><a href="/trees/planted_tree_update/{{ planted_tree.id }}"><button class="normal-btn">Edit</button></a></td>
                <td><a href="/trees/planted_tree_delete/{{ planted_tree.id }}"><button class="normal-btn">Delete</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
